@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap');

body {
  background-color: papayawhip;
}

.ruksak-landing {
  background-color: lightgrey;
  margin-top: 0;
  align-items: baseline;
  font-family: 'Teko', sans-serif;
  font-size: 55px;
  letter-spacing: 2px;
}
