.radioDays {
  display: flex;
  flex-direction: row;
}
.radioPeople {
  display: flex;
  flex-direction: row;
}
.radioInputStyleP {
  margin-left: 15px;
}
.radioInputStyleD {
  margin-left: 15px;
}
.radioInputStyleD1 {
  margin-left: 28px;
}
