.photo {
  width: 900px;
  height: 160px;
}

.trip-choice {
  background-color: black;
  border-radius: 5px;
  box-shadow: 2rem;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 900px;
}

.trip-header {
  text-decoration: none;
  margin: 0 auto;
  color: white;
}

.trip-name {
  margin: 7px;
  padding-left: 15px;
  text-decoration: none;
}
