.planning-container {
  border: 1px solid green;
  display: flex;
  /* justify-content: space-between; */
  height: 80vh;
}
.gearList {
  border: 1px solid blue;
  list-style-type: none;
  width: 25%;
  text-align: center;
}
.gearListHeader {
  text-decoration: underline;
}
.planning {
  border: 1px solid red;
  width: 25%;
}
.camping {
  border: 1px solid blue;
}
.current-list-container {
  border: 1px solid red;
  list-style-type: none;
  width: 20%;
  text-align: center;
}
.recommended-list-container {
  border: 1px solid black;
}
.photoPlanning {
  width: 100%;
}
