.profileContainer {
  border-right: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgba(0,0,0,0.3);
}
.profileImage {
  height: 60%;
  width: 100%;
  text-align: center;
}
.profileImage:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  border-bottom: 1px solid gray;
}
.profileInfo {
  height: 30%;
  text-align: left;
}
.profileInfo:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  border-bottom: 1px solid gray;
}
.profileTrips {
  height: 100%;
  text-align: left;
}

.far {
  margin-top: 20%;
}

.profileList {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.editButton {
  height: 20px;
  margin-left: 10px;
}

.unorderedList {
  padding-left: 10px;
}

.profileHeader {
  margin-left: 10px;
}
