.profileContainer {
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}
.profileImage {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  text-align: center;
}
.profileInfo {
  border: 1px solid green;
  height: 100%;
  text-align: left;
}
.profileTrips {
  border: 1px solid red;
  height: 100%;
  text-align: left;
}

.far {
  margin-top: 20%;
}

.profileList {
  list-style-type: none;
  /* border: 1px solid white; */
  margin-bottom: 10px;
  font-size: 1.3em;
}

.editButton {
  border: 1px solid red;
  height: 20px;
  margin-left: 10px;
}

.unorderedList {
  padding-left: 10px;
}

.profileHeader {
  margin-left: 10px;
}
